.tag {
  display: inline-block;
  padding: 2px 6px;
  line-height: 16px;
  letter-spacing: 0.1px;
  border: 1px solid;
  border-radius: 6px;

  &_color_blue {
    background-color: #bccefa;
    border-color: #858fcc;
  }

  &_color_light-blue {
    background-color: #96e7ff;
    border-color: #6dbcd9;
  }

  &_color_green {
    background-color: #b3ebd6;
    border-color: #8ec6b1;
  }

  &_color_light-green {
    background-color: #d5e4bb;
    border-color: #bcc998;
  }

  &_color_pink {
    background-color: #e8c5ed;
    border-color: #c39bc5;
  }

  &_color_light-pink {
    background-color: #fcc2da;
    border-color: #d197ad;
  }

  &_color_brown {
    background-color: #e7b19f;
    border-color: #e8b4a2;
  }

  &_color_brown-light {
    background-color: #fce2d9;
    border-color: #e0ccc3;
  }
}