@import "./container.scss";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Arial', serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}