.history-page {
  padding-bottom: 48px;

  &__details {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    thead {
      color: #8c8c8c;

      @media (max-width: 639px) {
        display: none;
      }
    }

    th,
    td {
      padding: 12px;
      font-weight: 400;
      line-height: 22px;
      vertical-align: top;

      &:nth-child(1) {
        width: 120px;

        @media (max-width: 767px) {
          width: 100px;
        }
      }

      &:nth-child(3) {
        width: 140px;

        @media (max-width: 767px) {
          width: 100px;
        }
      }

      &:nth-child(4) {
        width: 140px;

        p:not(:first-child) {
          opacity: 0.3;
        }

        @media (max-width: 767px) {
          width: 100px;
        }
      }

      p {
        min-height: 22px;
        line-height: 22px;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }

        &.disabled {
          opacity: 0.5;
        }
      }

      @media (max-width: 767px) {
        padding: 8px;
        font-size: 12px;
      }

      @media (max-width: 479px) {
        width: auto !important;
      }
    }

    @media (max-width: 639px) {
      display: none;
    }
  }

  &__table-mobile {
    width: 100%;
    display: none;
    border-collapse: collapse;

    tr {
      border-bottom: 1px solid #e1e1e1;
    }

    p {
      line-height: 22px;
    }

    @media (max-width: 639px) {
      display: table;
    }
  }

  &__table-mobile-cell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 0;
  }

  &__table-mobile-items {
    flex: 0 0 100%;
  }

  &__table-mobile-item {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    text-align: left;

    p {
      &:last-child {
        min-width: 90px;
        text-align: right;
        color: #8c8c8c;
      }

      &:first-child {
        padding-right: 16px;
      }
    }

    &:first-child {
      margin-top: 8px;
    }
  }
}
