.home-page {
  padding-bottom: 80px;

  &__title {
    margin-bottom: 48px;
    font-size: 32px;

    @media (max-width: 767px) {
      margin-bottom: 32px;
      font-size: 28px;
    }

    @media (max-width: 479px) {
      margin-bottom: 24px;
      font-size: 24px;
    }
  }

  &__projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-card + .project-card {
      margin-top: 48px;

      @media (max-width: 767px) {
        margin-top: 32px;
      }

      @media (max-width: 479px) {
        margin-top: 16px;
      }
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 60px;
  }
}
